#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_clean:
	dh_auto_clean
	# This folder changes after a build.
	git checkout -- src/flask_marshmallow.egg-info/* || echo -n
	# Pybuild internal files.
	rm -Rf .pybuild/ 2> /dev/null || echo -n
